
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply animation */
.fade-in {
  opacity: 0; /* Start hidden */
  animation: fadeIn 0.5s ease-in-out;
  animation-delay: 1s; /* Delay before animation starts */
  animation-fill-mode: forwards; /* Keeps the final opacity (1) */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

html {
  scroll-behavior: smooth;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);  /* Dimmed effect for background */
  transition: background-color 0.3s ease;
}

/* Modal Container */
.modal-container {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(0); /* ensures modal is at the center */
  pointer-events: auto; /* Enable interaction with modal content */
}

/* Close Button */
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.modal-close:hover {
  color: #555;
}

/* Modal Content */
.modal-content {
  margin-bottom: 1rem;
}

.modal-heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.modal-description {
  font-size: 0.875rem;
  color: #666;
}

/* HubSpot Form Custom Input Styling */
#hubspot-form input[type="text"], #hubspot-form input[type="email"], #hubspot-form input[type="tel"], #hubspot-form textarea {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

/* Focus State for Input Fields */
#hubspot-form input[type="text"]:focus, 
#hubspot-form input[type="email"]:focus, 
#hubspot-form input[type="tel"]:focus,
#hubspot-form textarea:focus {
  border-color: #8639f8;
  outline: none;
}

/* Submit Button */


/* Custom Scrollbar for Webkit Browsers */
::-webkit-scrollbar {
    width: 10px; /* Width of the entire scrollbar */
    height: auto; /* Height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #656565; /* Color of the scrollbar handle */
    border-radius: 12px; /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle when hovered */
}

/* //custom styles */

.feature-after{
  &::after{
    content: "";
    position: absolute;
    width: calc(100vw/2);
    background-color: rgb(181, 235, 146);
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

/* #hubspotForm .submitted-message{
  display: none;
} */

#hubspotForm .form-columns-1 .field.hs-form-field .input .hs-input {
  /* @apply rounded-lg py-3 px-4 shadow-md ; */
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

#hubspotForm form {
  @apply flex flex-wrap gap-x-8 gap-y-6;
}

#hubspotForm fieldset div:first-child {
  margin-bottom: 1rem !important;
}

#hubspotForm fieldset .legal-consent-container {
  font-size: 12px !important;
}

#hubspotForm .hs-submit {
  @apply block w-full;
}


#hubspotForm .actions input[type='submit'] {
  @apply block w-full mx-auto tracking-normal text-base mt-2 bg-gray-950 px-4 py-2 rounded text-white hover:cursor-pointer hover:-translate-y-0 transform duration-150;
}

#hubspotForm .actions {
  @apply flex justify-center;
}

#hubspotForm .hs-error-msgs li {
  @apply text-red-800 text-sm;
}

#hubspotForm .hs-error-msgs {
  @apply absolute -bottom-7 w-full h-6 line-clamp-1 overflow-hidden left-0 text-ellipsis;
}


#hubspotForm .hs-form-field {
  @apply gap-2 relative w-full;
}

#hubspotForm .hs-form-field .error {
  @apply border-red-500;
}

#hubspotForm .hs-form-field label {
  @apply text-sm;
}

#hubspotForm .hs-form-field input {
  @apply text-base border py-2 px-4 rounded w-full focus:outline-gray-950;
}

/* .hs-richtext.hs-main-font-element {
  display: none;
} */


/* legal css */
/* In your Tailwind-compatible file */
.legal-content h1 {
  @apply text-4xl font-semibold mb-10 text-center;
}

.legal-content h2 {
  @apply text-2xl font-semibold mb-2;
}

.legal-content li, .legal-content p {
  @apply mb-5 text-justify !text-gray-800;
}

.legal-content a, .legal a {
  @apply text-blue-600 hover:underline underline-offset-2;
}

.legal-content h1 {
  @apply text-4xl font-semibold mb-10 text-center;
}

.legal--inner table, .legal--inner td, .legal--inner th {
  border: 1px solid #000;
  border-collapse: collapse;
}

.legal--inner th {
  padding: 12px;
  font-weight: 700;
}

.legal--inner td {
  padding: 12px;
}

.legal-content h2 {
  @apply text-2xl font-semibold mb-2;
}

.legal-content li, .legal-content p {
  @apply mb-5 text-justify !text-gray-800;
}

.legal-content a {
  @apply text-blue-600 hover:underline underline-offset-2;
}

.legal-content table {
  @apply table-auto;
}

.legal-content td {
  @apply border p-4;
}

.legal-content td {
  p{
    text-align: left;
  }
}

.legal-content tr:nth-child(odd) {
  @apply bg-gray-50;
}

.legal-form {
  border: 1px solid #dee2e6;
  padding: 30px;
  margin-bottom: 30px;
}

.legal-form .hs-form-field {
  margin-bottom: 30px;
}

.legal-form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: #464656;
}

.legal-form .inputs-list .hs-error-msg {
  color: #dc3545;
  display: block;
  margin-bottom: 0;
  font-size: 15px;
}

.legal-form span.hs-form-required {
  color: #dc3545;
  display: inline-block;
  margin-left: 3px;
}

.legal-form .hs-button {
  border-radius: 0;
  background: #33cc66;
  border: 1px solid #33cc66;
  color: #fff;
  transition: all 0.35s ease;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  font-size: 17px;
  line-height: 1.5;
  padding: 9px 35px;
}

.legal-form .hs-button:hover {
  color: #33cc66;
  background: transparent;
  cursor: pointer;
}

.legal-form .hs_error_rollup .inputs-list {
  background: #f2dede;
  color: #dc3545;
  text-align: center;
  padding: 5px 15px;
  width: 100%;
  margin: 0px auto 0;
  position: relative;
  bottom: 15px;
}

.legal-form .hs_error_rollup .inputs-list label {
  color: #dc3545;
  margin-bottom: 0;
  font-size: 15px;
}

.legal-form .hs-form-radio-display .hs-input {
  margin-right: 9px;
  transform: scale(1.5, 1.5);
}

.legal-form textarea,
.legal-form textarea.form-control {
  height: auto;
}

.legal-form .form-group {
  margin-bottom: 30px;
}

.legal-form .form-check {
  padding-left: 0;
}

.legal-form .form-check-input {
  margin-left: 0;
}

.legal-form .form-check-label {
  padding-left: 20px;
  font-size: 12px;
}

.legal-form .btn-green,
.legal-form .btn-green-arrowed,
.legal-form .hs-button {
  font-size: 14px;
}

.legal-form .form-control,
.legal-form [type="color"],
.legal-form [type="date"],
.legal-form [type="datetime-local"],
.legal-form [type="datetime"],
.legal-form [type="email"],
.legal-form [type="month"],
.legal-form [type="number"],
.legal-form [type="password"],
.legal-form [type="search"],
.legal-form [type="tel"],
.legal-form [type="text"],
.legal-form [type="time"],
.legal-form [type="url"],
.legal-form [type="week"],
.legal-form input:not([type]),
.legal-form select,
.legal-form textarea {
  padding: 10px 20px;
  height: 40px;
  box-shadow: none;
  background-color: rgba(5, 64, 107, 0.02);
  width: 100%;
  border: 1px solid rgba(151, 151, 151, 0.16);
}

.legal-form p {
  font-size: 12px;
}

.legal-form h6 {
  color: #333;
  font-size: 12px;
}

.legal-form input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
}

.legal-form .form-control:disabled,
.legal-form .form-control[readonly],
.legal-form [readonly][type="color"],
.legal-form [readonly][type="date"],
.legal-form [readonly][type="datetime-local"],
.legal-form [readonly][type="datetime"],
.legal-form [readonly][type="email"],
.legal-form [readonly][type="month"],
.legal-form [readonly][type="number"],
.legal-form [readonly][type="password"],
.legal-form [readonly][type="search"],
.legal-form [readonly][type="tel"],
.legal-form [readonly][type="text"],
.legal-form [readonly][type="time"],
.legal-form [readonly][type="url"],
.legal-form [readonly][type="week"],
.legal-form [type="color"]:disabled,
.legal-form [type="date"]:disabled,
.legal-form [type="datetime-local"]:disabled,
.legal-form [type="datetime"]:disabled,
.legal-form [type="email"]:disabled,
.legal-form [type="month"]:disabled,
.legal-form [type="number"]:disabled,
.legal-form [type="password"]:disabled,
.legal-form [type="search"]:disabled,
.legal-form [type="tel"]:disabled,
.legal-form [type="text"]:disabled,
.legal-form [type="time"]:disabled,
.legal-form [type="url"]:disabled,
.legal-form [type="week"]:disabled,
.legal-form input:disabled:not([type]),
.legal-form input[readonly]:not([type]),
.legal-form select:disabled,
.legal-form select[readonly],
.legal-form textarea:disabled,
.legal-form textarea[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.legal-form .form-control:focus,
.legal-form [type="color"]:focus,
.legal-form [type="date"]:focus,
.legal-form [type="datetime-local"]:focus,
.legal-form [type="datetime"]:focus,
.legal-form [type="email"]:focus,
.legal-form [type="month"]:focus,
.legal-form [type="number"]:focus,
.legal-form [type="password"]:focus,
.legal-form [type="search"]:focus,
.legal-form [type="tel"]:focus,
.legal-form [type="text"]:focus,
.legal-form [type="time"]:focus,
.legal-form [type="url"]:focus,
.legal-form [type="week"]:focus,
.legal-form input:focus:not([type]),
.legal-form select:focus,
.legal-form textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #e9ecef;
  outline: 0;
  box-shadow: 0 2px 1rem 0 rgba(226, 226, 226, 0.5);
}

.legal-form input[type="submit"] {
  background-color: #42ba78;
  color: #fff;
  border: 2px solid #42ba78;
  border-radius: 50px;
  padding: 6px 12px;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.legal-form input[type="submit"]:hover {
  background-color: #05406b;
  border: 2px solid #05406b;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.legal-form__disclaimer {
  margin-bottom: 30px;
}

.legal__list--bullet-point li {
  list-style: disc;
  line-height: 1.4;
  margin-left: 20px;
  margin-bottom: 0.7rem;
}

.list-unstyled li{
  list-style-type: none;
}

/* loader css */
/* .progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  height: 3px;
  width: 100%;
  z-index: 2147483647;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition:
    width 500ms ease-out,
    opacity 400ms linear;
  -ms-transition:
    width 500ms ease-out,
    opacity 400ms linear;
  -o-transition:
    width 500ms ease-out,
    opacity 400ms linear;
  -webkit-transition:
    width 500ms ease-out,
    opacity 400ms linear;
  transition:
    width 500ms ease-out,
    opacity 400ms linear;
}

.indicator {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  transition:
    all 0.1s linear,
    opacity 0.3s linear 0.2s,
    width 0.3s ease;
  -moz-box-shadow: rgba(59, 130, 246, 0.2) 1px 0 6px 2px;
  -ms-box-shadow: rgba(59, 130, 246, 0.2) 1px 0 6px 2px;
  -webkit-box-shadow: rgba(59, 130, 246, 0.2) 1px 0 6px 2px;
  box-shadow: rgba(59, 130, 246, 0.2) 1px 0 6px 2px;
}

.legal__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #4b5563;
}

.legal__section-title {
  color: #3d4043;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 22px;
}

.legal__section-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #4b5563;
}

.legal__list--bullet-point li {
  list-style: disc;
  line-height: 1.4;
  margin-left: 20px;
  margin-bottom: 0.7rem;
}

.legal__list-item, .legal__table {
  margin-bottom: 0.7rem;
}

.legal__table {
  width: 100%;
  resize: both;
  overflow: auto;
  border-collapse: collapse;
}
.legal__table {
  width: 100%;
  margin-bottom: 1rem;
  resize: both;
  overflow: auto;
  border-collapse: collapse;

  
}
.legal__table th, .legal__table td {
    padding: 1rem;
    border: 1px solid #dee2e6;
    
}

@media screen and (min-width: 768px) {
  .legal__table th, .legal__table td {
    padding: 1rem;
    border: 1px solid #dee2e6;
    
}
  .legal__text {
      font-size: 20px;
      line-height: 1.4;
  }
  .legal__section-title {
    font-size: 26px;
  }
} */
